body {
    margin: 0;
    padding: 0;
    min-height: 2000px; /* Add height for scrolling */
    scroll-behavior: smooth;
    transition: 2s ease;
    font-size: 16px;
}
.custom-navbar {
    background-color: rgba(0, 0, 0, 0.518);
    transition: background-color 0.4s ease, height 0.4s ease;
  }
  
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.148);

  }
.nav-item{
    color: #fff;
}
.image-container{
    position: relative;
    overflow: hidden;

}
.home-image{
    filter: brightness(0.5);
}
.text-box {
    position: absolute;
    top: 50%;  /* Center the text vertically */
    left: 3vw; 
    transform: translate(-50%, -50%); /* Offset to center the text */
    padding: 0em;

    text-align: left;
   color: white;
}
.pirata-one-regular {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.nama-profil{
    font-size: 1.5vw;
    color: rgba(250, 250, 250, 0.612);
}

.scroll-text {
    white-space: nowrap; /* Prevent text from wrapping */
    transition: left 0.5s ease; /* Smooth transition for scrolling */
}
.pp{
    background-color: #fff;
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition : all 1s;

}
.hiddenx {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition : all 1s;

}

.hiddeny {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(0%);
    transition : all 1s;

}
.judul-nama{
    font-size: 5vw;
    color: #ff0000;
    padding: 0px 0px 0px 0px;
}
.image-profil-home{

    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);  /* Center the text vertically */
   /* Offset to center the text */
    width: 15vw;
    object-fit: cover;
    border: 0.25vw solid white;
    border-radius: 50%;
    transition: border-radius 0.5s ease;
    overflow: hidden;
    
}



.show {
    
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}
.showy {
    
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}
.showx {
    
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}
section{
    display: grid;
    place-items: center;
    align-content: center;
    margin-top: 5vh;
    padding-top: 50px;
    height: auto;
    color: #fff;
    top: 100%;
    transform: translate(50%,50%);
}
.judul-2{
    font-size: 2.5vw;
    margin-bottom: 0;
    padding-bottom: 0;
}
.normal-text{
    font-size: 1.5vw;
    color: #999999;
}
.about-text{
    width: 90%;
    top: 50%;
    text-align: center;
    
}
.judul-sec{
    padding: auto;

}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

