body {
    margin: 0;
    padding: 0;
    min-height: 2000px; /* Add height for scrolling */
    scroll-behavior: smooth;
    transition: 2s ease;
    font-size: 16px;
}
.custom-navbar {
    background-color: rgba(0, 0, 0, 0.518);
    transition: background-color 0.4s ease, height 0.4s ease;
  }
  
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.148);

  }
.nav-item{
    color: #fff;
}
.image-container{
    position: static;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.home-image{
    filter: brightness(0.5);

}
.text-box {
    position: absolute;
    top: 35%;  /* Center the text vertically */
    left: 3vw; 
    transform: translate(-50%, -50%); /* Offset to center the text */
    padding: 0em;

    text-align: left;
    color: white;
}
.pirata-one-regular {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.nama-profil{
    font-size: 1.5vw;
    color: rgba(250, 250, 250, 0.612);
}

.scroll-text {
    white-space: nowrap; /* Prevent text from wrapping */
    transition: left 0.5s ease; /* Smooth transition for scrolling */
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition : all 1s;

}
.hiddenx {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition : all 1s;

}

.hiddeny {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(0%);
    transition : all 1s;

}
.judul-nama{
    font-size: 5vw;
    color: #ff0000;
    padding: 0px 0px 0px 0px;
}
.image-profil-home{

    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);  /* Center the text vertically */
   /* Offset to center the text */
    width: 15vw;
    object-fit: cover;
    border: 0.25vw solid white;
    border-radius: 50%;
    transition: border-radius 0.5s ease;
    overflow: hidden;
    
}
.clearfix{
    margin: 0rem 1rem;
}
.carousel{
    object-fit: fit;
}

.carousel-item {
    position: relative;
    overflow: hidden; /* Potong gambar yang keluar dari area */
    height: 0;        /* Tinggi awal diatur ke 0 */
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio (tinggi/lebar = 9/16 * 100) */
}
.carousel-item.img {
    border-radius: 10%;
    object-fit: cover;
}

.carousel-item img {
    position: absolute; /* Posisi gambar absolute */
    top: 50%;           /* Posisikan di tengah secara vertikal */
    left: 50%;         /* Posisikan di tengah secara horizontal */
    width: 100%;       /* Lebar gambar 100% */
    height: 100%;      /* Tinggi gambar 100% */
    object-fit: cover; /* Pastikan gambar memenuhi area dengan proporsional */
    transform: translate(-50%, -50%); /* Pindahkan gambar ke tengah */
}
.show {
    
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}
.showy {
    
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}

.showx {
    
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}
section{
    display: grid;
    place-items: center;
    align-content: center;
    margin-top: 1rem;
    padding-top: 50px;
    min-height: 100%;
    color: #fff;
    top: 100%;
    transform: translate(50%,50%);
    height: 120%;
}
.judul-2{
    font-size: 2.5vw;
    margin-bottom: 0;
    padding-bottom: 0;
}
.normal-text{
    font-size: 1.5vw;
    color: #999999;
}
.about-text{
    width: 90%;
    top: 50%;
    text-align: center;
    
}
.judul-sec{
    padding: auto;
    margin-bottom: 2rem;

}
/* From Uiverse.io by MijailVillegas */ 
.cardd {
  max-width: fit-content;
  display: flex;
  align-content: center;
  justify-content: center;
  list-style-type: none;
}
.cardd li{
    margin: 0 10px;
}

.card:hover {
  animation: ease-out 5s;
  background: rgba(0, 0, 0, 0.05);
}

.card ul {
  padding: 0.5rem;
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.card ul li {
  cursor: pointer;
}

.svg {
  transition: all 0.3s;
  /* if you find some problems change w - h : 30px*/
  padding: 1rem;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  color: rgb(255, 174, 0);
  fill: currentColor;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
}

.text {
  opacity: 0;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s;
  color: rgb(255, 174, 0);
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 9999;
  box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
    -10px 0 1px rgba(153, 153, 153, 0.2),
    inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.082);
}

/*isometric prooyection*/
.iso-pro {
  transition: 0.5s;
}
.iso-pro:hover a > .svg {
  transform: translate(15px, -15px);
  border-radius: 100%;
}

.iso-pro:hover .text {
  opacity: 1;
  transform: translate(25px, -2px) skew(-5deg);
}

.iso-pro:hover .svg {
  transform: translate(5px, -5px);
}

.iso-pro span {
  opacity: 0;
  position: absolute;
  color: #1877f2;
  border-color: #1877f2;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
  border-radius: 50%;
  transition: all 0.3s;
  height: 50px;
  width: 50px;
}

.iso-pro:hover span {
  opacity: 1;
}

.iso-pro:hover span:nth-child(1) {
  opacity: 0.2;
}

.iso-pro:hover span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.iso-pro:hover span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}








@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

